apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: k8s-multi-com-tls
spec:
  secretName: mattebay-com
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  commonName: mattebay.com
  dnsNames:
    - mattebay.com
    - www.mattebay.com
  acme:
    config:
      - http01:
          ingressClass: nginx
        domains:
          - mattebay.com
          - www.mattebay.com
